name: Deploy to Railway

on:
  push:
    branches:
      - main

jobs:
  deploy-prod:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    environment: prod

    env: 
      BASE_URL: https://banki-api.up.railway.app
      GRAPHQL_ENDPOINT: ${{ github.env.BASE_URL }}/api/graphql

    steps:
      - name: checkout code
        uses: actions/checkout@v3

      - name: Setup and verify
        uses: ./verify.yaml
        
      - name: Install Railway
        run: npm i -g @railway/cli

      - name: Deploy
        run: railway up
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_CLI_TOKEN }}

      - name: Generate GraphQL docs
        run: npx graphdoc -e https://banki-api.up.railway.app/api/graphql -o ./doc/schema
        
      - name: Check if docs are here
        run: ls ./doc/schema