
name: publish docs

on:
  workflow_call:
    secrets:
      GITHUB_PAT:
        description: Personal Access Token for Docs repo write access
        required: true

jobs:
  ci:
    timeout-minutes: 10
    name: publish docs 
    runs-on: ubuntu-latest 
    env: 
      BASE_URL: https://banki-api.up.railway.app
      GRAPHQL_ENDPOINT: ${{ github.env.BASE_URL }}/api/graphql
      TARGET_REPO_USER: 20jasper
      TARGET_REPO_NAME: interview_question_api_graphql_docs

    steps:
      - name: checkout api repo
        uses: actions/checkout@v3

      - name: checkout docs repo
        uses: actions/checkout@v3
        with: 
          repository: ${{ env.TARGET_REPO_USER }}/${{ env.TARGET_REPO_NAME }}
          path: ${{ env.TARGET_REPO_NAME }}
          token: ${{ secrets.GITHUB_PAT }}

      - name: Install Graphdoc CLI
        run: npm install -g @2fd/graphdoc
      - name: Generate GraphQL docs
        run: npx graphdoc -e https://banki-api.up.railway.app/api/graphql -o ./${{ env.TARGET_REPO_NAME }}/docs/graphql -f

      - name: Configure git user
        working-directory: ./${{ env.TARGET_REPO_NAME }}
        run: |
          git config --local user.email github-actions@github.com
          git config --local user.name github-actions

      - name: Add files
        working-directory: ./${{ env.TARGET_REPO_NAME }}
        run: |
          git add .

      - name: Commit files
        working-directory: ./${{ env.TARGET_REPO_NAME }}
        env:
          SUCCESS_MESSAGE: "::notice title='Docs Updated Successful'::GraphQL docs were successfully updated. Check the following link to see changes https://github.com/20jasper/interview_question_api_graphql_docs"
          FAILURE_MESSAGE: "::notice title='Docs Not Updated'::GraphQL docs were not updated. If no changes were made to the GraphQL schema, this notice can be safely ignored"
        run: |
          # if there are changes between origin and local
          if !git diff-index --quiet HEAD; then
            git commit -m "update GraphQL Docs!"
            git push
            echo ${{ env.SUCCESS_MESSAGE }}
          else
            echo ${{ env.FAILURE_MESSAGE }}
          fi

      - name: Push files
        working-directory: ./${{ env.TARGET_REPO_NAME }}
        run: |
          git push